Author: Giang Nguyen <br>
Organization: Luther College

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/data/bikeshare/data/nyc/nyc.csv")
station_df = pd.read_json("/data/bikeshare/data/nyc/stations.json")

In [3]:
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1010,2013-09-01 00:00:02,2013-09-01 00:16:52,254,W 11 St & 6 Ave,40.735324,-73.998004,147,Greenwich St & Warren St,40.715422,-74.011220,15014,Subscriber,1974,1
1,1443,2013-09-01 00:00:09,2013-09-01 00:24:12,151,Cleveland Pl & Spring St,40.721816,-73.997203,497,E 17 St & Broadway,40.737050,-73.990093,19393,Customer,\N,0
2,1387,2013-09-01 00:00:16,2013-09-01 00:23:23,352,W 56 St & 6 Ave,40.763406,-73.977225,405,Washington St & Gansevoort St,40.739323,-74.008119,16160,Subscriber,1992,1
3,405,2013-09-01 00:00:18,2013-09-01 00:07:03,490,8 Ave & W 33 St,40.751551,-73.993934,459,W 20 St & 11 Ave,40.746745,-74.007756,14997,Subscriber,1973,1
4,270,2013-09-01 00:00:20,2013-09-01 00:04:50,236,St Marks Pl & 2 Ave,40.728419,-73.987140,393,E 5 St & Avenue C,40.722992,-73.979955,19609,Subscriber,1984,1
5,400,2013-09-01 00:00:35,2013-09-01 00:07:15,490,8 Ave & W 33 St,40.751551,-73.993934,453,W 22 St & 8 Ave,40.744751,-73.999154,17523,Subscriber,1978,1
6,115,2013-09-01 00:00:47,2013-09-01 00:02:42,351,Front St & Maiden Ln,40.705310,-74.006126,351,Front St & Maiden Ln,40.705310,-74.006126,19533,Customer,\N,0
7,1080,2013-09-01 00:00:48,2013-09-01 00:18:48,2000,Front St & Washington St,40.702551,-73.989402,418,Front St & Gold St,40.702240,-73.982578,18487,Subscriber,1972,2
8,2550,2013-09-01 00:00:49,2013-09-01 00:43:19,533,Broadway & W 39 St,40.752996,-73.987216,2021,W 45 St & 8 Ave,40.759291,-73.988597,19342,Subscriber,1949,1
9,1108,2013-09-01 00:00:49,2013-09-01 00:19:17,301,E 2 St & Avenue B,40.722174,-73.983688,306,Cliff St & Fulton St,40.708235,-74.005301,15177,Subscriber,1978,1
10,413,2013-09-01 00:01:01,2013-09-01 00:07:54,421,Clermont Ave & Park Ave,40.695734,-73.971297,399,Lafayette Ave & St James Pl,40.688515,-73.964763,15809,Subscriber,1987,1
11,1099,2013-09-01 00:01:06,2013-09-01 00:19:25,249,Harrison St & Hudson St,40.718710,-74.009001,489,10 Ave & W 28 St,40.750664,-74.001768,14588,Subscriber,1979,1
12,1626,2013-09-01 00:01:11,2013-09-01 00:28:17,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,401,Allen St & Rivington St,40.720196,-73.989978,19490,Subscriber,1968,1
13,1562,2013-09-01 00:01:12,2013-09-01 00:27:14,415,Pearl St & Hanover Square,40.704718,-74.009260,501,FDR Drive & E 35 St,40.744219,-73.971212,14886,Subscriber,1992,1
14,954,2013-09-01 00:01:14,2013-09-01 00:17:08,466,W 25 St & 6 Ave,40.743954,-73.991449,339,Avenue D & E 12 St,40.725806,-73.974225,18040,Subscriber,1977,1
15,255,2013-09-01 00:01:15,2013-09-01 00:05:30,494,W 26 St & 8 Ave,40.747348,-73.997236,509,9 Ave & W 22 St,40.745497,-74.001971,15025,Subscriber,1982,2
16,796,2013-09-01 00:01:22,2013-09-01 00:14:38,494,W 26 St & 8 Ave,40.747348,-73.997236,127,Barrow St & Hudson St,40.731724,-74.006744,16567,Subscriber,1968,2
17,163,2013-09-01 00:01:29,2013-09-01 00:04:12,384,Fulton St & Waverly Ave,40.683178,-73.965964,365,Fulton St & Grand Ave,40.682232,-73.961458,15106,Subscriber,1982,1
18,1233,2013-09-01 00:01:32,2013-09-01 00:22:05,457,Broadway & W 58 St,40.766953,-73.981693,254,W 11 St & 6 Ave,40.735324,-73.998004,17024,Subscriber,1976,1
19,1313,2013-09-01 00:01:33,2013-09-01 00:23:26,290,2 Ave & E 58 St,40.760203,-73.964785,473,Rivington St & Chrystie St,40.721101,-73.991925,20337,Customer,\N,0
20,1229,2013-09-01 00:01:38,2013-09-01 00:22:07,306,Cliff St & Fulton St,40.708235,-74.005301,312,Allen St & E Houston St,40.722055,-73.989111,19114,Customer,\N,0
21,1102,2013-09-01 00:01:52,2013-09-01 00:20:14,505,6 Ave & W 33 St,40.749013,-73.988484,499,Broadway & W 60 St,40.769155,-73.981918,20090,Customer,\N,0
22,1764,2013-09-01 00:01:55,2013-09-01 00:31:19,351,Front St & Maiden Ln,40.705310,-74.006126,417,Barclay St & Church St,40.712912,-74.010202,15387,Customer,\N,0
23,784,2013-09-01 00:02:09,2013-09-01 00:15:13,334,W 20 St & 7 Ave,40.742388,-73.997262,439,E 4 St & 2 Ave,40.726281,-73.989780,19376,Subscriber,1960,1
24,403,2013-09-01 00:02:31,2013-09-01 00:09:14,382,University Pl & E 14 St,40.734927,-73.992005,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,17649,Subscriber,1992,2
25,2095,2013-09-01 00:02:49,2013-09-01 00:37:44,496,E 16 St & 5 Ave,40.737262,-73.992390,469,Broadway & W 53 St,40.763441,-73.982681,16836,Customer,\N,0
26,1875,2013-09-01 00:02:50,2013-09-01 00:34:05,297,E 15 St & 3 Ave,40.734232,-73.986923,312,Allen St & E Houston St,40.722055,-73.989111,19565,Customer,\N,0
27,683,2013-09-01 00:02:51,2013-09-01 00:14:14,367,E 53 St & Lexington Ave,40.758281,-73.970694,507,E 25 St & 2 Ave,40.739126,-73.979738,17366,Subscriber,1979,1
28,772,2013-09-01 00:02:53,2013-09-01 00:15:45,327,Vesey Pl & River Terrace,40.715338,-74.016584,518,E 39 St & 2 Ave,40.747804,-73.973442,19098,Subscriber,1982,2
29,1259,2013-09-01 00:03:00,2013-09-01 00:23:59,224,Spruce St & Nassau St,40.711464,-74.005524,401,Allen St & Rivington St,40.720196,-73.989978,16785,Subscriber,1988,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5562291,1113,2013-10-31 23:55:29,2013-11-01 00:14:02,368,Carmine St & 6 Ave,40.730386,-74.002150,2003,1 Ave & E 18 St,40.734161,-73.980243,17998,Subscriber,1977,1
5562292,291,2013-10-31 23:55:29,2013-11-01 00:00:20,417,Barclay St & Church St,40.712912,-74.010202,351,Front St & Maiden Ln,40.705310,-74.006126,17351,Subscriber,1983,1
5562293,1466,2013-10-31 23:55:50,2013-11-01 00:20:16,432,E 7 St & Avenue A,40.726218,-73.983799,505,6 Ave & W 33 St,40.749013,-73.988484,19864,Customer,\N,0
5562294,1727,2013-10-31 23:56:03,2013-11-01 00:24:50,495,W 47 St & 10 Ave,40.762699,-73.993012,483,E 12 St & 3 Ave,40.732233,-73.988900,16403,Subscriber,1981,2
5562295,153,2013-10-31 23:56:12,2013-10-31 23:58:45,509,9 Ave & W 22 St,40.745497,-74.001971,434,9 Ave & W 18 St,40.743174,-74.003664,18442,Subscriber,1993,1
5562296,411,2013-10-31 23:56:13,2013-11-01 00:03:04,293,Lafayette St & E 8 St,40.730287,-73.990765,394,E 9 St & Avenue C,40.725213,-73.977688,17178,Subscriber,1985,1
5562297,571,2013-10-31 23:56:26,2013-11-01 00:05:57,401,Allen St & Rivington St,40.720196,-73.989978,79,Franklin St & W Broadway,40.719116,-74.006667,15601,Subscriber,1984,1
5562298,433,2013-10-31 23:56:47,2013-11-01 00:04:00,509,9 Ave & W 22 St,40.745497,-74.001971,380,W 4 St & 7 Ave S,40.734011,-74.002939,18645,Subscriber,1981,1
5562299,756,2013-10-31 23:56:52,2013-11-01 00:09:28,151,Cleveland Pl & Spring St,40.721816,-73.997203,401,Allen St & Rivington St,40.720196,-73.989978,19915,Subscriber,1977,1
5562300,422,2013-10-31 23:57:10,2013-11-01 00:04:12,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,247,Perry St & Bleecker St,40.735354,-74.004831,17253,Subscriber,1988,1
5562301,444,2013-10-31 23:57:29,2013-11-01 00:04:53,348,W Broadway & Spring St,40.724910,-74.001547,401,Allen St & Rivington St,40.720196,-73.989978,17064,Subscriber,1979,2
5562302,1475,2013-10-31 23:57:38,2013-11-01 00:22:13,327,Vesey Pl & River Terrace,40.715338,-74.016584,327,Vesey Pl & River Terrace,40.715338,-74.016584,19453,Subscriber,1977,1
5562303,880,2013-10-31 23:57:39,2013-11-01 00:12:19,533,Broadway & W 39 St,40.752996,-73.987216,267,Broadway & W 36 St,40.750977,-73.987654,18272,Customer,\N,0
5562304,567,2013-10-31 23:57:43,2013-11-01 00:07:10,519,Pershing Square N,40.751884,-73.977702,385,E 55 St & 2 Ave,40.757973,-73.966033,15668,Subscriber,1986,1
5562305,615,2013-10-31 23:57:47,2013-11-01 00:08:02,312,Allen St & E Houston St,40.722055,-73.989111,383,Greenwich Ave & Charles St,40.735238,-74.000271,17568,Subscriber,1991,2
5562306,958,2013-10-31 23:57:49,2013-11-01 00:13:47,223,W 13 St & 7 Ave,40.737815,-73.999947,438,St Marks Pl & 1 Ave,40.727791,-73.985649,15054,Subscriber,1980,2
5562307,270,2013-10-31 23:58:05,2013-11-01 00:02:35,361,Allen St & Hester St,40.716059,-73.991908,307,Canal St & Rutgers St,40.714275,-73.989900,19240,Subscriber,1981,1
5562308,1141,2013-10-31 23:58:06,2013-11-01 00:17:07,475,E 16 St & Irving Pl,40.735243,-73.987586,265,Stanton St & Chrystie St,40.722293,-73.991475,20090,Customer,\N,0
5562309,1166,2013-10-31 23:58:06,2013-11-01 00:17:32,300,Shevchenko Pl & E 6 St,40.728145,-73.990214,512,W 29 St & 9 Ave,40.750073,-73.998393,19228,Subscriber,1991,1
5562310,464,2013-10-31 23:58:07,2013-11-01 00:05:51,79,Franklin St & W Broadway,40.719116,-74.006667,360,William St & Pine St,40.707179,-74.008873,16143,Subscriber,1978,1
5562311,931,2013-10-31 23:58:13,2013-11-01 00:13:44,223,W 13 St & 7 Ave,40.737815,-73.999947,522,E 51 St & Lexington Ave,40.757148,-73.972078,19859,Subscriber,1982,1
5562312,742,2013-10-31 23:58:24,2013-11-01 00:10:46,433,E 13 St & Avenue A,40.729554,-73.980572,494,W 26 St & 8 Ave,40.747348,-73.997236,18187,Subscriber,1987,1
5562313,206,2013-10-31 23:58:26,2013-11-01 00:01:52,300,Shevchenko Pl & E 6 St,40.728145,-73.990214,317,E 6 St & Avenue B,40.724537,-73.981854,20602,Subscriber,1961,1
5562314,709,2013-10-31 23:58:35,2013-11-01 00:10:24,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,546,E 30 St & Park Ave S,40.744449,-73.983035,15524,Subscriber,1990,1
5562315,252,2013-10-31 23:58:48,2013-11-01 00:03:00,265,Stanton St & Chrystie St,40.722293,-73.991475,404,9 Ave & W 14 St,40.740583,-74.005509,15827,Subscriber,1986,1
5562316,534,2013-10-31 23:58:50,2013-11-01 00:07:44,216,Columbia Heights & Cranberry St,40.700379,-73.995481,398,Atlantic Ave & Furman St,40.691652,-73.999979,17905,Subscriber,1990,1
5562317,416,2013-10-31 23:59:12,2013-11-01 00:06:08,368,Carmine St & 6 Ave,40.730386,-74.002150,335,Washington Pl & Broadway,40.729039,-73.994046,17879,Subscriber,1994,1
5562318,404,2013-10-31 23:59:27,2013-11-01 00:06:11,456,E 53 St & Madison Ave,40.759711,-73.974023,509,9 Ave & W 22 St,40.745497,-74.001971,17082,Subscriber,1966,1
5562319,651,2013-10-31 23:59:51,2013-11-01 00:10:42,377,6 Ave & Canal St,40.722438,-74.005664,463,9 Ave & W 16 St,40.742065,-74.004432,15587,Subscriber,1970,1
5562320,332,2013-10-31 23:59:57,2013-11-01 00:05:29,250,Lafayette St & Jersey St,40.724561,-73.995653,368,Carmine St & 6 Ave,40.730386,-74.002150,15754,Subscriber,1984,1

* 10 most popular station
* distribution of tripduration (plot)
* geopandas (location map)

In [4]:
station_df.head()

            executionTime                                    stationBeanList
0  2018-11-13 12:44:55 PM  {'id': 304, 'stationName': 'Broadway & Battery...
1  2018-11-13 12:44:55 PM  {'id': 359, 'stationName': 'E 47 St & Park Ave...
2  2018-11-13 12:44:55 PM  {'id': 377, 'stationName': '6 Ave & Canal St',...
3  2018-11-13 12:44:55 PM  {'id': 402, 'stationName': 'Broadway & E 22 St...
4  2018-11-13 12:44:55 PM  {'id': 487, 'stationName': 'E 20 St & FDR Driv...

In [5]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,gender
count,5.562321e+06,5.562321e+06,5.562321e+06,5.562321e+06,5.562321e+06,5.562321e+06,5.562321e+06,5.562321e+06,5.562321e+06
mean,8.788093e+02,4.392877e+02,4.073437e+01,-7.399097e+01,4.396748e+02,4.073407e+01,-7.399108e+01,1.768372e+04,1.081256e+00
std,3.996941e+03,3.418616e+02,1.985896e-02,1.237111e-02,3.467746e+02,1.987919e-02,1.246343e-02,1.761231e+03,5.653087e-01
min,6.000000e+01,7.200000e+01,4.068034e+01,-7.401713e+01,7.200000e+01,4.068034e+01,-7.401713e+01,1.452900e+04,0.000000e+00
25%,3.980000e+02,3.040000e+02,4.072066e+01,-7.400004e+01,3.030000e+02,4.072043e+01,-7.400026e+01,1.616700e+04,1.000000e+00
50%,6.340000e+02,4.030000e+02,4.073625e+01,-7.399076e+01,4.020000e+02,4.073544e+01,-7.399076e+01,1.768200e+04,1.000000e+00
75%,1.042000e+03,4.860000e+02,4.075020e+01,-7.398195e+01,4.840000e+02,4.074972e+01,-7.398195e+01,1.917700e+04,1.000000e+00
max,6.250750e+06,3.002000e+03,4.077051e+01,-7.395005e+01,3.002000e+03,4.077051e+01,-7.395005e+01,2.154200e+04,2.000000e+00

In [6]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
dtype: object

In [7]:
birth_year = df['birth year']
birth_year

0          1974
1            \N
2          1992
3          1973
4          1984
5          1978
6            \N
7          1972
8          1949
9          1978
10         1987
11         1979
12         1968
13         1992
14         1977
15         1982
16         1968
17         1982
18         1976
19           \N
20           \N
21           \N
22           \N
23         1960
24         1992
25           \N
26           \N
27         1979
28         1982
29         1988
           ...
5562291    1977
5562292    1983
5562293      \N
5562294    1981
5562295    1993
5562296    1985
5562297    1984
5562298    1981
5562299    1977
5562300    1988
5562301    1979
5562302    1977
5562303      \N
5562304    1986
5562305    1991
5562306    1980
5562307    1981
5562308      \N
5562309    1991
5562310    1978
5562311    1982
5562312    1987
5562313    1961
5562314    1990
5562315    1986
5562316    1990
5562317    1994
5562318    1966
5562319    1970
5562320    1984
Name: birth year, Length: 5562321, dtype: object

In [8]:
birth_year.isnull()

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
5562291    False
5562292    False
5562293    False
5562294    False
5562295    False
5562296    False
5562297    False
5562298    False
5562299    False
5562300    False
5562301    False
5562302    False
5562303    False
5562304    False
5562305    False
5562306    False
5562307    False
5562308    False
5562309    False
5562310    False
5562311    False
5562312    False
5562313    False
5562314    False
5562315    False
5562316    False
5562317    False
5562318    False
5562319    False
5562320    False
Name: birth year, Length: 5562321, dtype: bool

In [9]:
birth_year.replace(['\N'], 'NaN')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: malformed \N character escape (<ipython-input-9-389ad5b9da86>, line 1)